<!-- Contenedor principal de la página -->
<div class="flex justify-center my-8 p-4">
  <div class="w-full max-w-2xl bg-white rounded-lg shadow-xl overflow-hidden">
    <!-- Encabezado del formulario -->
    <div class="px-6 py-4">
      <div class="border-b border-gray-200 pb-4 mb-4">
        <h5 class="text-2xl font-semibold text-gray-800">Registrar Maquina</h5>
      </div>
      <!-- Formulario reactivo -->
      <div class="py-4">
        <form [formGroup]="maquinaForm" (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label
                for="codMaquina"
                class="block text-sm font-medium text-gray-700"
                >Codigo</label
              >
              <input
                formControlName="codMaquina"
                id="codMaquina"
                class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                maxlength="8"
                minlength="8"
              />
              @if (maquinaForm.get('codMaquina')?.invalid &&
              (maquinaForm.get('codMaquina')?.dirty ||
              maquinaForm.get('codMaquina')?.touched)) {
              @if(maquinaForm.get('codMaquina')?.errors!['required']){
              <div class="text-red-600 text-sm mt-1">
                El codigo es requerido
              </div>
              } @if(maquinaForm.get('codMaquina')?.errors!['minlength']){
              <div class="text-red-600 text-sm mt-1">
                Codigo debe de tener 8 caracteres!
              </div>
              } }
            </div>
            <div>
              <label
                for="descMaq"
                class="block text-sm font-medium text-gray-700"
                >Descripcion</label
              >
              <input
                formControlName="descMaq"
                id="descMaq"
                class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                maxlength="100"
              />
              @if (maquinaForm.get('descMaq')?.invalid &&
              (maquinaForm.get('descMaq')?.dirty ||
              maquinaForm.get('descMaq')?.touched)) {
              @if(maquinaForm.get('descMaq')?.errors!['required']){
              <div class="text-red-600 text-sm mt-1">
                Descripcion es requerido
              </div>
              } }
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label
                for="capNormDiaria"
                class="block text-sm font-medium text-gray-700"
                >Capacidad Normal Diaria</label
              >
              <input
                type="number"
                id="capNormDiaria"
                placeholder="8"
                formControlName="capNormDiaria"
                class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              @if (maquinaForm.get('capNormDiaria')?.invalid &&
              (maquinaForm.get('capNormDiaria')?.dirty ||
              maquinaForm.get('capNormDiaria')?.touched)) {
              @if(maquinaForm.get('capNormDiaria')?.errors!['min']) {
              <div class="text-red-600 text-sm mt-1">
                El valor mínimo es
                {{ (maquinaForm.get("capNormDiaria")?.errors)!["min"].min }}
              </div>
              } @if(maquinaForm.get('capNormDiaria')?.errors!['max']) {
              <div class="text-red-600 text-sm mt-1">
                El valor máximo es
                {{ (maquinaForm.get("capNormDiaria")?.errors)!["max"].max }}
              </div>
              } }
            </div>
            <div>
              <label
                for="capExtraDiaria"
                class="block text-sm font-medium text-gray-700"
                >Capacidad Extra Diaria</label
              >
              <input
                type="number"
                id="capExtraDiaria"
                placeholder="0"
                formControlName="capExtraDiaria"
                class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              @if (maquinaForm.get('capExtraDiaria')?.invalid &&
              (maquinaForm.get('capExtraDiaria')?.dirty ||
              maquinaForm.get('capExtraDiaria')?.touched)) {
              @if(maquinaForm.get('capExtraDiaria')?.errors!['min']) {
              <div class="text-red-600 text-sm mt-1">
                El valor mínimo es
                {{ (maquinaForm.get("capExtraDiaria")?.errors)!["min"].min }}
              </div>
              } @if(maquinaForm.get('capExtraDiaria')?.errors!['max']) {
              <div class="text-red-600 text-sm mt-1">
                El valor máximo es
                {{ (maquinaForm.get("capExtraDiaria")?.errors)!["max"].max }}
              </div>
              } }
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label
                for="capacidadCarga"
                class="block text-sm font-medium text-gray-700"
                >Capacidad Carga</label
              >
              <input
                type="number"
                id="capacidadCarga"
                placeholder="0"
                formControlName="capacidadCarga"
                class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              @if (maquinaForm.get('capacidadCarga')?.invalid &&
              (maquinaForm.get('capacidadCarga')?.dirty ||
              maquinaForm.get('capacidadCarga')?.touched)) {
              @if(maquinaForm.get('capacidadCarga')?.errors!['min']) {
              <div class="text-red-600 text-sm mt-1">
                El valor mínimo es
                {{ (maquinaForm.get("capacidadCarga")?.errors)!["min"].min }}
              </div>
              } @if(maquinaForm.get('capacidadCarga')?.errors!['max']) {
              <div class="text-red-600 text-sm mt-1">
                El valor máximo es
                {{ (maquinaForm.get("capacidadCarga")?.errors)!["max"].max }}
              </div>
              } }
            </div>
            <div>
              <label for="tara" class="block text-sm font-medium text-gray-700"
                >Tara</label
              >
              <input
                type="number"
                id="tara"
                placeholder="0"
                formControlName="tara"
                class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              @if (maquinaForm.get('tara')?.invalid &&
              (maquinaForm.get('tara')?.dirty ||
              maquinaForm.get('tara')?.touched)) {
              @if(maquinaForm.get('tara')?.errors!['min']) {
              <div class="text-red-600 text-sm mt-1">
                El valor mínimo es
                {{ (maquinaForm.get("tara")?.errors)!["min"].min }}
              </div>
              } @if(maquinaForm.get('tara')?.errors!['max']) {
              <div class="text-red-600 text-sm mt-1">
                El valor máximo es
                {{ (maquinaForm.get("tara")?.errors)!["max"].max }}
              </div>
              } }
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label
                for="costoXUnd"
                class="block text-sm font-medium text-gray-700"
                >Costo por Unidad</label
              >
              <input
                type="number"
                id="costoXUnd"
                placeholder="0.0"
                formControlName="costoXUnd"
                class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              @if (maquinaForm.get('costoXUnd')?.invalid &&
              (maquinaForm.get('costoXUnd')?.dirty ||
              maquinaForm.get('costoXUnd')?.touched)) {
              @if(maquinaForm.get('costoXUnd')?.errors!['min']) {
              <div class="text-red-600 text-sm mt-1">
                El valor mínimo es
                {{ (maquinaForm.get("costoXUnd")?.errors)!["min"].min }}
              </div>
              } @if(maquinaForm.get('costoXUnd')?.errors!['max']) {
              <div class="text-red-600 text-sm mt-1">
                El valor máximo es
                {{ (maquinaForm.get("costoXUnd")?.errors)!["max"].max }}
              </div>
              } }
            </div>
            <div>
              <label
                for="costoUnitario"
                class="block text-sm font-medium text-gray-700"
                >Costo Unitario</label
              >
              <input
                type="number"
                id="costoUnitario"
                placeholder="0.0"
                formControlName="costoUnitario"
                class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              @if (maquinaForm.get('costoUnitario')?.invalid &&
              (maquinaForm.get('costoUnitario')?.dirty ||
              maquinaForm.get('costoUnitario')?.touched)) {
              @if(maquinaForm.get('costoUnitario')?.errors!['min']) {
              <div class="text-red-600 text-sm mt-1">
                El valor mínimo es
                {{ (maquinaForm.get("costoUnitario")?.errors)!["min"].min }}
              </div>
              } @if(maquinaForm.get('costoUnitario')?.errors!['max']) {
              <div class="text-red-600 text-sm mt-1">
                El valor máximo es
                {{ (maquinaForm.get("costoUnitario")?.errors)!["max"].max }}
              </div>
              } }
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>

            <label
              for="codOrigen"
              class="block text-sm font-medium text-gray-700"
              >Origen</label
            >
            <select
              id="codOrigen"
              formControlName="codOrigen"
              class="w-full px-4 py-2 my-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <option value="" disabled>Seleccione un origen</option>
              @for (origen of origenes; track origen.codOrigen) {
              <option [ngValue]="origen.codOrigen">
                {{ origen.nombre }}
              </option>
              }
            </select>
            @if (maquinaForm.get('codOrigen')?.invalid &&
            (maquinaForm.get('codOrigen')?.dirty ||
            maquinaForm.get('codOrigen')?.touched)) { @if
            (maquinaForm.get('codOrigen')?.errors!['required']) {
            <div class="text-red-600 text-sm mt-1">El origen es requerido</div>
            } }
            </div>

          </div>

          <!-- Botones del formulario -->
          <div class="flex justify-end mt-4">
            <button
              type="submit"
              class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded-lg shadow-md transition duration-300 mr-2 disabled:bg-gray-400 disabled:hover:bg-gray-400 disabled:cursor-not-allowed"
              [disabled]="maquinaForm.invalid"
            >
              Agregar
            </button>
            <button
              type="button"
              class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg shadow-md transition duration-300"
              (click)="onClear()"
            >
              Clear
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
