<div class="container my-4 mx-auto px-4">
  <h3 class="text-3xl font-bold text-center mb-6">{{ title }}</h3>

  <button
    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg shadow-md transition duration-300 my-3"
    [routerLink]="['/create']"
  >
    Crear Usuario
  </button>

  @if (users.length === 0) {
  <div
    class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 rounded-lg"
    role="alert"
  >
    No hay registros en el sistema!
  </div>
  } @else {
  <div class="overflow-x-auto rounded-lg shadow-md">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th>name</th>
          <th>lastname</th>
          <th>email</th>
          <th>username</th>
          <th>remove</th>
          <th>update</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
        <tr class="bg-white border-b hover:bg-gray-100">
          <td>{{ user.name }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td>
            <button
              class="bg-red-600 hover:bg-red-700 text-white font-bold py-1 px-2 rounded-lg text-xs shadow-md transition duration-300"
              (click)="onRemoveUser(user.id)"
            >
              remove
            </button>
          </td>
          <td>
            <button
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded-lg text-xs shadow-md transition duration-300"
              [routerLink]="['/users/edit', user.id]"
            >
              update
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
