<div class="container mx-auto p-4">
  <div class="flex justify-between items-center mb-4">
    <app-search-filter
      [searchText]="searchText()"
      (searchTextChange)="onSearchChange($event)"
    ></app-search-filter>
    <div class="flex justify-end items-center">
      <button
        [routerLink]="['/maquinas/create']"
        class="mr-2 bg-[#4b8ca1] hover:bg-[#254550] text-white font-bold py-2 px-4 rounded-lg shadow-md transition duration-300"
      >
        Nuevo
      </button>
      <app-export-button
        [data]="filteredMaquinas()"
        [headers]="headers"
        filename="Maquinas"
      ></app-export-button>
    </div>
  </div>
  <h1 class="text-3xl font-bold mb-6 text-center">{{ title }}</h1>

  <app-pagination
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    [pages]="pages()"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <app-table
    [data]="paginatedMaquinas()"
    [headers]="headers"
    [sortColumn]="sortColumn()"
    [sortDirection]="sortDirection()"
    (sort)="onSort($event)"
    [actionsTemplate]="actions"
  ></app-table>
</div>

<ng-template #actions let-maquina>
  <button
    class="bg-red-600 hover:bg-red-700 text-white font-bold py-1 px-2 rounded-lg text-xs shadow-md transition duration-300 mr-2"
    (click)="onRemoveMaquina(maquina.codMaquina)"
  >
    eliminar
  </button>
  <button
    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded-lg text-xs shadow-md transition duration-300"
    (click)="onSelecteMaquina(maquina.codMaquina)"
  >
    editar
  </button>
</ng-template>
